

.Header{
    height: 55px;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 223, 223);

}
.left_section{

    
    display: flex;
    align-items: center;

}

.middle_section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;

}

.microphone{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(244, 243, 243);
    

}


.search_button{
    height: 37px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right: 8px;
}

.search_button .tooltip, 
.microphone .tooltip,
.Create .tooltip,
.notification .tooltip,
.Youtube_text .tooltip{
    position: absolute;
    background-color: grey;
    font-family: Roboto, Arial;
    color: white;
    padding-left:10px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-size: 10px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.15;
    pointer-events: none;
    
}

.search_button, .mic_icon, .Create, .notification, .Youtube_text{
    position: relative;

}
.search_button:hover .tooltip,
 .microphone:hover .tooltip,
 .Create:hover .tooltip,
 .notification:hover .tooltip,
 .Youtube_text:hover .tooltip{
    opacity: 1;
}


.search_bar{
    flex: 1;
    height: 37px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 1px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search_bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.right_section{
    width: 130px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;


}
.Hamberger{
    height: 24px; 
    margin-right: 24px;
    margin-left: 24px;
    

}
.youtube_icon{
    height: 20px;
}
.youtube_icon:hover{
    cursor: pointer;
}

.camera_icon{
    height: 18px;
    margin-top: 4px;
}
.bell_icon{
    height: 20px;
    margin-top: 4px;
}
.notification{
    position: relative;

}
.notification_count{
    position: absolute;
    top: -2px;
    right:-5px;
    background-color: rgb(157, 17, 17);
    color: white;
    font-family: Roboto, Arial;
    font-size: 8px;
    padding-left:5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}

.mail_icon{
    height: 25px;
    
    
    border-radius: 16px;
}

.search_icon{
    height: 20px;
    margin-top: 4px;
    padding-left: 20px;

}

.mic_icon{
    
    width: 20px;
    margin-top: 4px;
    margin-left: 10px;

}
.Hamberger{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.Hamberger:hover{
    background-color: rgb(251, 251, 251);
    border: 0.05px;
    border-style: solid;
    border-color: rgb(219, 217, 217);
    opacity: 1;
    
        
    
        

}
